.bodyDiv {
    margin: 0 0 0 5%;
}
body {
    background-color: gray;
    margin: 0;
    padding: 0;
    color: rgb(233, 235, 255);
    font-family: Sans-serif;
    font-size: 1.25rem;
    min-width: 300px;
}
a {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: orange;
    text-decoration: none;
}

a:hover {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: orange;
    color: rgb(233, 235, 255);
    letter-spacing: 0.25rem;
}
canvas {
    margin-top: 1.2rem;
    /*
  border: 0.35rem dashed orange;
  */
    border: 0.35rem dashed lightgray;
    width: 88%;
    height: 88%;
    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h1 {
    transition: all 0.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
h2 {
    font-size: 2rem;
    margin-bottom: -0.75rem;
    margin-top: 0.75rem;
}
iframe {
    line-height: 0;
}
::selection {
    color: gray;
    background-color: orange;
}
@font-face {
    font-family: h;
    src: url('../font/Orbitron-VariableFont_wght.ttf');
}
@font-face {
    font-family: p;
    src: url('../font/Ubuntu-Medium.ttf');
}
h1,
h2,
h3,
h4,
h5 {
    font-family: h, sans-serif;
}
p,
a,
body {
    font-family: p, sans-serif;
}
.navIframe {
    width: 105%;
    border: none;
    position: fixed;
    z-index: 99;
    height: 3rem;
    margin: 0 0 0 -8%;
    padding-top: 0.5rem;
    background-color: hsla(0, 0%, 5%, 0.75);
    clip-path: polygon(0 0, 0 0, 90% 0, 100% 0%, 100% 0%, 95% 100%, 0% 100%, 0% 90%, 0% 10%);
}
.navDiv {
    height: 3rem;
    background-color: hsla(0, 0%, 5%, 0.75);
    position: fixed;
    top: 0;
    margin: 0 0 0 -8%;
}
.lightBG {
    background-color: rgba(200, 200, 255, 0.25);
};
